<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
        <div class="logo">
            <a class="navbar-brand" href="index.html"><span>360 </span> Digital  Idea</a>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav cl-effect-18" id="cl-effect-18">
            <li class="act"><a [routerLink]="['/']" class="effect1 active">Home</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Category <span class="caret"></span>
  </a>
                <ul class="dropdown-menu">
                    <li *ngFor="let c of category">
                        <a [routerLink]="['/story/'+c.name.toLowerCase()]">{{c.name}}</a>

                    </li>
                </ul>
            </li>
            <li><a href="http://360digitalidea.com/contact-us" target="blank">Contact Us</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>